@font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    
  src: url("fonts/ptsans-400.woff2") format("woff2");
  
  font-display: swap;
  
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html{
  height: 100%;
}

body {
  display: flex;
  flex-direction:column;
  margin:0; 
  
  font-family: "PT Sans" sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #333333;
   
  }

.page-header {
    color: #000000;;
    background: #FFFFFF;
    font-family: "PT Sans", sans-serif;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  
  font-family: "PT Sans", sans-serif;
    line-height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
  
  }
.navigation-cite{
  width:320px;
  margin-right: 150px;
}
  .navigation-list {
    
    width: 1200px;
    
  }
  .navigation-user {
    max-width: 250px;
    margin-left: auto;}

.navigation-want{
    
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    border-radius: 4px;
    text-decoration: none
}
.navigation-main{
  text-decoration: none;
  color: #000000;
}
.navigation-about{
  text-decoration: none;
  color: #000000;
}
.navigation-hotels{
  text-decoration: none;
  color: #000000;
}
.navigation-search{
  text-decoration: none;
  color: #000000;
}
.navigation-love{
  text-decoration: none;
  color: #000000;
}
.header-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  
}
.paragraph-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;

  text-align: center;
  color: #333333;  
}

.advantages-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.advantage-anoherdiv{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}
.advantage-road{
  background: rgba(131, 179, 211, 0.2);
}
.advantages-description{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;

}
.advantages-list {
  
  margin: 0;
  padding: 0;
}
.advantages-logo{
display:block;
margin:0 auto;
}

.advantage-div {
display:flex;
flex-direction: row;
margin:0;
padding:0;
text-align: center;

  background-color: #83B3D3;
color: #FFFFFF;  
}

.advantages-title adv{
  width: 400px;
}
.flextwo{
display:flex;
margin:0;
}
.adv{
 color: #FFFFFF; 
}
.interesting{
  width: 1200px;
  text-align: center;
  background: #FFFFFF;
}
.interesting-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.interesting-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}
.search-hotel{
  width:575px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase; 
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
  text-decoration: none  
}
.div-subscribe{
  background-image: url("../img/background-subscribe.jpg" );
  width: 1200px;
  
  text-align: center;
}
.subscribe-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;

}
.subscribe-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */

text-align: center;

/* basic/white */

color: #FFFFFF;
}
.button-subscribe{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* or 130% */

/* display: flex;
align-items: center;
text-align: center; */
text-transform: uppercase;
background: #83B3D3;
/* basic/white */
width: 200px;

color: #FFFFFF;
}
.subscribe-form{
  width: 600px;
  height: 60px;
margin:0px;

}
.input-button-subscribe{
display:flex;
width: 1200px;
margin-left:400px;
padding:0;
align-content: center;
}
.page-footer{
  background: #FFFFFF;
  color: #000000;
}
.contacts-phone{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
/* or 100% */

text-align: center;
text-transform: uppercase;

/* basic/black */
text-decoration: none ;
color: #000000;
}
.main-inner{
color:#FFFFFF;
}
.main-index{
  padding: 0;
  margin:0;
}
.div-search{
  background-image: url("../img/catalog-background.jpg" );
  background-repeat: no-repeat;
  /*width: 1200px;
  height: 408px;*/
  object-fit:cover;
}
.inner-header-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 78px;

/* basic/white */

color: #FFFFFF;
}
.breadcrumbs{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */
text-decoration: none;

color: #FFFFFF;
}
.breadcrumbs-link{
  text-decoration: none;
  color: #FFFFFF;
}
.catalog-filter-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */


/* basic/white */

color: #FFFFFF;
}
.catalog-filter-item{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/white */

color: #FFFFFF;

}
.toggle-min,
.toggle-max{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;


/* basic/white */

color: #FFFFFF;

}
.catalog-filter-input{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;

/* basic/white */

color: #FFFFFF;

}
.button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;

}
.button-ok{ 
  font-family: "PT Sans", sans-serif;
  width: 160px;
  height: 48px;
  text-align: center;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
background: #83B3D3;
}
.button-reset{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

/* basic/white */
width: 160px;
height: 23px;
color: #FFFFFF;
}
.search-list {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
/* identical to box height */

text-transform: uppercase;

/* basic/black */

color: #000000;
}
.popular,
.cheap,
.expensive{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;
}
.Type-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;

}
.hotel-card-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
text-decoration: none ;


/* basic/black */

color: #000000;
}
.hotel-card-link{
  text-decoration: none ;
}
.rating-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/dark */

color: #333333;

}
.Hotel-card-button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
width: 151px;
height: 37px;

/* special/warm/light */

background: #756257;
border-radius: 4px;
}
.button-favorites{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/white */
width: 160px;
height: 37px;

/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
color: #FFFFFF;

}
.pagination-show-more{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
width: 625px;
height: 55px;


/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
}
.pagination-item{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
width: 55px;
height: 55px;


/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
}
.pagination-link{
  text-align: center;
  text-decoration: none ;
  color: #FFFFFF;

}
.pagination-current{



font-family:"PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
border-radius: 4px;
/* basic/black */
width: 55px;
height: 55px;
color: #000000;
background: #F2F2F2

}
.visual-hotels-text{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;

}
.select-control{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;

}
.div-subscribe-catalog{
  background: #FFFFFF;
}
.catalog-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

text-align: center;
text-transform: uppercase;

/* basic/black */

color: #000000;

}
.catalog-help{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */

text-align: center;

/* basic/dark */

color: #333333;

}
.footer-social-item .visually-hidden{
  color:black;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;
}

.city{
margin:0;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social{
  width: 110px;
  margin-right: 260px;
}
.footer-logo-academy{
  width: 121px;
  margin-left: auto;
}
.navigation-tools{
  width: 280px;
  margin-left:auto;
}
.hotel-list{
display:flex;
justify-content: space-around;
}
.infrastructure{
  width:150px;
  margin-right: 70px;
}
.type-hotel{
  width:400px;
  margin-right: 160px;
}
.cost{
  width:290px; 
  margin-right: 82px;
}
.button-view{
  color:#000000;
}
.sort-hotel{
  display:flex;
  width:1057px;
  margin:0 auto;
}
.found-hotels{
  width: 338px;
  margin-right: 185px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
/* identical to box height */

text-transform: uppercase;

/* basic/black */

color: #000000;
}
.div-button-view{
  width:180px;
  margin-left:auto;
}
.hotel-card{
  display:flex;
  width:1056px;
  flex-wrap: wrap;
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  }
  
  main {
  margin: 0 auto;
  }
  
  h1 {
  margin: 0;
  }
  
  h2 {
  margin: 0;
  }
  
  h3 {
  margin: 0;
  }
  
  h4 {
  margin: 0;
  }
  
  img {
  width: 100%;
  }
  
  a {
  margin: 0;
  text-decoration: none;
  }
  
  ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  }
  
  li {
  list-style-type: none;
  padding: 0;
  }
  
  p {
  margin: 0;
  }
  
  button {
  outline: none;
  border: none;
  &:focus {
  outline: none;
  border: none;
  }
  &:hover {
  outline: none;
  border: none;
  }
  
  &:active {
  outline: none;
  border: none;
  }
  }