@font-face {

    font-family: "PT Sans";
    
    font-weight: 400;
    
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  
  
  
}
@font-face {
    font-family: "PT Sans";
    
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    
}
html{
  height: 100%;
}

body {
  display: flex;
  flex-direction:column;
  margin:0; 
  
  font-family: "PT Sans" sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #333333;
   
  }

.page-header {
    color: #000000;;
    background: #FFFFFF;
    font-family: "PT Sans", sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 1056px;
  margin: 0 auto;
  
  font-family: "PT Sans", sans-serif;
    line-height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    text-decoration: none;
    position: relative;
  }
.navigation-cite{
  width:320px;
  margin-right: auto;
}
  .navigation-list {
    display:flex;
    
    list-style-type: none;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    border:0;
    margin: 0;
  }
  .navigation-list .navigation-user {
    display: flex;
  flex-wrap: wrap;
    max-width: 250px;
    margin-left: auto;}


.navigation-main{
  text-decoration: none;
  color: #000000;
  padding-top: 19px;
  padding-bottom: 25px;
  margin-right: 33px;
  display: block;
}
.navigation-about{
  text-decoration: none;
  color: #000000;
  padding-top: 19px;
  padding-bottom: 25px;
  margin-right: 33px;
  display: block;
}
.navigation-hotels{
  text-decoration: none;
  color: #000000;
  padding-top: 19px;
  padding-bottom: 25px;
  display: block;
}
.navigation-search{
  text-decoration: none;
  color: #000000;
}
.navigation-love{
  text-decoration: none;
  color: #000000;
}
.header-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  padding-top: 63px;
  padding-bottom: 32px;
  margin: 0;
  width: 100%;
  display:block;
  
}
.paragraph-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;

  text-align: center;
  color: #333333;
  padding-bottom: 79px;  
}

.advantages-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
padding-top: 23px;
padding-bottom: 20px;
margin:0;

}
.advantage-anoherdiv{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin:0;

}
.advantage-road{
  background: rgba(131, 179, 211, 0.2);
  width: 100%;
}
.advantages-description{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;
padding-bottom: 90px;
max-width: 254px;
    
    margin: 0 auto;

}
.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-logo{
display:block;
margin:0 auto;
padding-top: 89px;
}

.advantage-div {
display:flex;
flex-direction: row;
margin:0;
padding:0;
text-align: center;

  background-color: #83B3D3;
color: #FFFFFF;  
}

.advantages-title-adv{
  width: 400px;
  margin-bottom:35px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* or 117% */
margin-top: 25px;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
}
.flextwo{
display:flex;
margin:0;
}
.adv{
 color: #FFFFFF; 
}
.interesting{
  width: 1200px;
  text-align: center;
  background: #FFFFFF;
}
.interesting-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-top:91px;
margin-bottom: 29px;

}
.interesting-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin-top: 15px;
margin-bottom: 54px;


}
.search-hotel{
  
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom:17px ;
  width: 575px;
  display:block;
  margin:0 auto;
}
.div-subscribe{
  background-image: url("../img/background-subscribe.jpg" );
  width: 1200px;
  background-color: red;
  text-align: center;
}
.subscribe-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

margin-bottom: 30px;
text-align: center;
text-transform: uppercase;


/* basic/white */

color: #FFFFFF;

}
.subscribe-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */
margin-bottom: 40px;
text-align: center;

/* basic/white */

color: #FFFFFF;
}
 .button-subscribe{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* or 130% */

/* display: flex;
align-items: center;
text-align: center; */
text-transform: uppercase;
background: #83B3D3;
/* basic/white */
width: 200px;
display:inline-block;
padding-top:21px ;
padding-bottom:21px ;
color: #FFFFFF;
border-radius: 0px 10px 10px 0px;
justify-content: center;
}
.subscribe-form{
  width: 600px;
  
margin:0px;

}
.input-button-subscribe{
display:flex;
width: 800px;
margin-left:116px;
margin: 0 auto;
padding:0;
align-content: center;
padding-bottom: 97px;
}
.page-footer{
  background: #FFFFFF;
  color: #000000;
  margin:0 auto;
}
.contacts-phone{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
/* or 100% */

text-align: center;
text-transform: uppercase;

/* basic/black */
text-decoration: none ;
color: #000000;
}
.main-inner{
color:#FFFFFF;
}
.main-index{
  padding: 0;
  margin:0;
  overflow: hidden;
}
.div-search{

}
.hotel-intro{
  background-image: url("../img/catalog-background.jpg" );
  background-repeat: no-repeat;
  object-fit:cover;
  background-color: red;
  max-height: 407px;
}

.inner-header-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 78px;
margin:0;
/* basic/white */

color: #FFFFFF;
}
.breadcrumbs{
display: flex;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */
text-decoration: none;
flex-wrap:wrap;
width: 1056px;
  margin-left: 73px ;
  padding: 0; 
  list-style-type: none;
color: #FFFFFF;
margin-bottom: 45px;;
}
.breadcrumbs-link{
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 11px;
  display:flex;
  align-items: center;
}
.breadcrumbs-link:hover{
  color: #FFFFFF;

opacity: 0.6;
}
.breadcrumbs-link:focus{
  color: #FFFFFF;
  outline: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;

}
.breadcrumbs-link:active{
  color: #FFFFFF;
  outline:none;
  opacity: 0.3;
}
.catalog-filter{
  display: flex;
  justify-content: space-between;
}
.catalog-filter-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */
margin-bottom:30px;


/* basic/white */

color: #FFFFFF;
}
.catalog-filter-item{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/white */

color: #FFFFFF;

}
.toggle-min,
.toggle-max{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;


/* basic/white */

color: #FFFFFF;

}
.catalog-filter-input{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;

/* basic/white */

color: #FFFFFF;

}
.button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
cursor: pointer;
/* basic/white */

color: #FFFFFF;

}
.button-ok{ 
  font-family: "PT Sans", sans-serif;
  width:160px;
  align-items: center;
text-align: center;
padding-top:18px;
padding-bottom: 18px;
border-radius: 4px;
  
  text-align: center;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
background: #83B3D3;
margin-bottom:20px;
margin-top: 60px;
}
.button-ok:hover{
  background: #68A2CA;
}
.button-ok:focus{
  background: #68A2CA;
  outline:3px solid #FFFFFF;
border-radius: 4px;

}
.button-ok:active{
  background: #68A2CA;
  outline:none;
  color: #FFFFFF;

opacity: 0.3;
}
.button-reset{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
background-color: unset;
/* basic/white */
width: 160px;
color: #FFFFFF;
}
.search-list {
font-family: "PT Sans", sans-serif;
font-style: normal;


/*line-height: 39px;*/
/* identical to box height */
width:1056px;

margin:0 auto;
/* basic/black */

color: #000000;
}
.popular,
.cheap,
.expensive{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;
}
.Type-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
margin-right: 216px;
/* basic/dark */
grid-column: 3 / 4;
grid-row: 2 / 3;
color: #333333;

}
.hotel-card-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;

text-decoration: none ;
grid-column: 3 / 6;
grid-row: 1 / 2;
margin:0;
/* basic/black */

color: #000000;
}
.hotel-card-link{
  text-decoration: none ;
  grid-column: 3 / 6;
grid-row: 1 / 2;

}
.rating-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;

/* basic/dark */

color: #333333;

}
.Hotel-card-button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
width: 151px;
height: 37px;

/* special/warm/light */

background: #756257;
border-radius: 4px;
}
.button-favorites{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
border:0;
/* basic/white */
width: 160px;
height: 37px;
cursor: pointer;
/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
color: #FFFFFF;

}
.pagination-show-more{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin:0 auto;
/* basic/white */
margin-bottom: 30px;

color: #FFFFFF;

padding-left: 240px;
padding-right: 240px;
padding-top: 14px;
padding-bottom: 14px;


/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
}

.pagination-link{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin-right: 8px;
padding:16px;
/* basic/white */
width: 20px;
justify-content: center;

color: #FFFFFF;



/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
  
}
.pagination-current{





color: #000000;
background: #F2F2F2

}
.visual-hotels-text{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
margin-right: 51px;
width: 189px;
display: block;

/* basic/dark */

color: #333333;

}
.select-control{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;

}
.div-subscribe-catalog{
  background: #FFFFFF;
  margin-bottom: 30px;
}
.catalog-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

text-align: center;
text-transform: uppercase;

/* basic/black */

color: #000000;

}
.catalog-help{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */

text-align: center;

/* basic/dark */

color: #333333;

}
.footer-social-item .visually-hidden{
  color:black;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;
  width:auto;
  background-image: #000000;
}

.city{
margin:0;
width: 100%;
display: block;
}
.page-footer-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.footer-social{
  width: 130px;
  margin-right: 260px;
}
.footer-logo-academy{
  width: 121px;
  margin-left: auto;
}


.navigation-tools{
  
  margin-left:auto;
}
.hotel-list{
display:flex;
width:1056px;
margin: 0 auto;

}
.infrastructure{
  width:150px;
  margin-right: 67px;
}
.type-hotel{
  /* width:400px; */
  margin-right: 90px;
}
.cost{
  width:290px; 
  margin-right: 82px;
}
.button-view{
  color:#000000;
  padding:13px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-right:8px;
  border: 2px solid #E6E6E6;

border-radius: 4px;
}
.sort-hotel{
  display:flex;
  width:1057px;
  margin:0 auto;
  margin-top: 44px;
  margin-bottom: 38px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 23px;
}
.found-hotels{
  width: 380px;
  margin-right: 192px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
/* identical to box height */
margin-bottom: 0;
margin-top: 0;

text-transform: uppercase;

/* basic/black */

color: #000000;
}
.div-button-view{
  display:flex;
  flex-wrap:wrap;
  
  margin-left:auto;
}
.hotel-card{
  
  width:1056px;
  border-bottom: 1px solid #E6E6E6;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  padding-bottom: 30px;
}
body {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  }
  
  .main-index {
  margin: 0 auto;
  }
  

  .button {
  outline: none;
  border: none;
  cursor: pointer;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .navigation-want{
    
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    padding-top:9px;
    padding-bottom: 10px;
    margin-top: 14px;
    
    margin-left:23px;
    width: 160px;
    
   
    
  }
  .navigation-search,
  .navigation-love
  
  
  

  
   {
    min-width: 18px;
    min-height: 27px;
    display: block;
    padding-top: 21px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo-image{
    
    background-image: url("../img/index-background.jpg" );  
    background-color: red;
    padding-top:52px;
  }
  .first-adv,
  .adv-two
  {
  margin-top: auto;
  margin-bottom: auto;  
  }
  .advantages-description-adv{
    margin-bottom: 27px;
    
    font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* or 117% */

text-align: center;


/* basic/white */

color: #FFFFFF;
  }
.advantages-description-number{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* or 117% */
margin-top:25px;
margin-bottom: 26px;
text-align: center;
text-transform: uppercase;

/* basic/dark */

color: #333333;

}
.advantages-title-number{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* or 117% */
padding-top: 97px;
text-align: center;
text-transform: uppercase;
margin:0;
/* basic/black */

color: #000000;

}
.subscribe{
  margin-top:91px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 20px;
  

margin-right:29px;

  
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.inner-header-title{
  padding-top: 35px;
  margin-left:71px;
  margin-bottom:0;
}
.catalog-filter-list{
  margin-right: 67px;
}
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  margin-right: auto;
  
}
.pagination-section{
  display:flex;
  width:1057px;
  
  padding-top:30px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E6E6E6;;
}
.visual-hotels{
  
  display: flex;
  align-items: center;
}
.inner-header{
  width:1056px;
}
.advantages-item{
  display:flex;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;

}

.hotel-card{
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px; 
  
  
}
.hotel-img-link{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  
  
}
.star{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  width:auto;
  margin:0 auto;
  display: block;

}
.rating-hotel{
  grid-column: 7 / 8;
  grid-row: 3 / 4;
  background: #F2F2F2;
border-radius: 4px;
}
.Hotel-card-button{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.button-favorites{
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}
.Type-hotel-price{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  padding-bottom:31px ;
  
  
  
  color: #333333;
} 
.button-in{
  background: #7DB54F;
border-radius: 4px;
}
.hotel-lists{
  display: flex;
  flex-direction: column;
  
}
.div-eat{
  background: #FFFFFF;
}
.input-email{
  border:0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  
  
}
.input-email:active{
  outline: none;
}

.navigation-link{
  position: relative;
}
.navigation-link:hover {
  color: #756257;
  
}
.navigation-link:active {
  color: #756257;
  outline:none;
  opacity: 0.3;
}
.navigation-link:focus {
  outline: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 10px;      
}
 .navigation-icon:hover{
  fill: #756257;
}
.footer-social-link {
  display: block;
  
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}


.button-current{
  border: 2px solid #000000;
box-sizing: border-box;
border-radius: 4px;
}

.navigation-love::after {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
left: 57.42%;
right: 21%;
top: 20%;
bottom: 52.86%;
width: 19px;
  height: 19px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
/* identical to box height */

text-align: center;
letter-spacing: -0.1em;
border-radius: 50%;

/* basic/white */

color: #FFFFFF;

/* special/neutral/light */

background: #7DB54F;
  content: "12";
  
}
.navigation-love::after:active{

  opacity: 0.3;
}
.navigation-want:hover{
  background: #615048;
}
.navigation-want:focus{
  outline: 3px solid #83B3D3;

}
.want:active{
  color: #FFFFFF;
  outline:none;
opacity: 0.3;
}
.search-hotel:hover{
  background: #615048;
}
.search-hotel:focus{
  outline: 3px solid #83B3D3;

}
.search:active{
  color: #FFFFFF;
  outline:none;
opacity: 0.3;
}
.button-subscribe:hover{
  background: #68A2CA
}
.button-subscribe:focus{
  outline: 3px solid #756257;

}
.span-subscribe:active{
  color: #FFFFFF;
  outline:none;
opacity: 0.3;
}
.contacts-phone:hover{
  color: #756257;
}
.contacts-phone:focus{
  color: #756257;
  outline: 3px solid #83B3D3;
}
.contacts-phone:active{
  color: #756257;
  outline:none;
opacity: 0.3;
}
.page-footer-logo:hover svg{
  fill: #756257;
}
.page-footer-logo:focus svg{
  outline:3px solid #83B3D3;
}
.page-footer-logo:active svg{
  
  outline:none;
opacity: 0.3; 
}
.navigation-link-current::before {
  position: absolute;
  right: 0px;
  bottom: -2px;
  left: 0px;
  height: 2px;
  background-color: #756257;
  content: "";
}
.home{
 
  display: block;
}
.button-reset:hover{
  color: #FFFFFF;
 
  opacity: 0.6;
}
.span-reset:focus{
  color: #FFFFFF;
  outline:3px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;

}
.button-reset:active{
  color: #FFFFFF;
  outline:none;
  opacity: 0.3;
  
}
.button-reset:focus{
  outline:3px solid #83b3D3
}
.select-control:hover{
  outline: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.select-control:focus{
  outline: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.select-control:active{
  color: #333333;
  outline:none;
  opacity: 0.3;
}
.button-view:hover{
  outline: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.button-view:focus{
  outline: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.button-view:active{
  outline: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}
.Hotel-card-button:focus{
  background: #615048;
/* special/cold/light */

outline: 3px solid #83B3D3;
border-radius: 4px;
}
.Hotel-card-button:hover{
  background: #615048;
/* special/cold/light */


border-radius: 4px;}

.Hotel-card-button:active{
  background: #615048;
/* special/cold/light */

color: #FFFFFF;

opacity: 0.3;
border-radius: 4px;}
.button-favorites:hover{
  background: #68A2CA;
  /* special/warm/light */
  
  outline: 1px solid #756257;
}
.button-favorites:focus{
  background: #68A2CA;
/* special/warm/light */

border: 3px solid #756257;
}
.button-favorites:active{
  background: #68A2CA;
  /* special/warm/light */
  
  border: 1px solid #756257;
  color: #FFFFFF;

opacity: 0.3;
}
.button-in:hover{
  background: #6C9E42;
  outline:none;
}
.button-in:focus{
  background: #6C9E42;
/* special/warm/light */

outline: 3px solid #756257;
}
.button-in:active{
  background: #6C9E42;
  color: #FFFFFF;
  outline:none;
opacity: 0.3;
}
.hotel-card-title:hover{
  color: #756257;
}
.hotel-card-link:focus{
  outline: 3px solid #83B3D3;
  color: #756257;
}
.hotel-card-link:active{
  outline:none;
  color: #756257;

opacity: 0.3;
}
.pagination-show-more:hover{
  background: #68A2CA
}
.pagination-show-more:focus{
  outline: 3px solid #756257;

}
.pagination-show-more:active{
  color: #FFFFFF;
  outline:none;
opacity: 0.3;}
.pagination-link:hover{
  background: #68A2CA;
}
.pagination-link:focus{
  background: #68A2CA;
/* special/warm/light */

outline: 3px solid #756257;
}
.pagination-link:active{
  background: #68A2CA;
  color: #FFFFFF;
outline: none;
opacity: 0.3;
}
.pagination-current:hover{
  background: #F2F2F2;
}
.pagination-current:focus{
  background: #F2F2F2;
  outline:none;
}
.pagination-current:active{
  background: #F2F2F2;
  outline:none;
  color: #000000;
  opacity: 1;
}
.infospan{
  margin:0 auto;
}

.card-hotel-line::after{
  width: 100px;
  
  border-bottom: 1px solid #E6E6E6;
  

}


.main-subscribe-title{
  padding-top:94px;
  
}
.breadcrumbs-cursor{
  
  margin-right: 12px;
}
.span-ok{
  margin:0 auto;
}
.span-reset{
  margin:0 auto;
  margin-bottom: 67px;
  text-transform: none;

}
.navigation-link:hover svg{
  fill: #756257;
}

.navigation-link:active svg{
  fill: #756257;
  outline: none;
  opacity: 0.3;
}
.breadcrumbs-item{
  display: flex;
  align-items: center;
  
}
.footer-social-link:hover svg{
  fill:#68A2CA;
}
.footer-social-link svg{
  fill: #83B3D3;
}
.footer-social-link:focus svg{
  fill:#68A2CA;
  outline: 3px solid #83B3D3;
}
.footer-social-link:active svg{
  opacity: 0.3;
}
.hotel-img-link:hover img{
  opacity: 0.6;
}
.hotel-img-link:focus img{
  outline: 3px solid #83B3D3;

}
.hotel-img-link:active img{
  opacity: 0.3;
  outline:none;
}
.input-email{
  width: 578px;
  border-radius: 10px 0px 0px 10px;
  background: #F2F2F2;
  padding-left: 22px;
  padding-right: 0;
}
.input-email:hover{
  background: #E6E6E6;
}
.input-email:focus{
  background: #E6E6E6;
  /* special/cold/light */
  
  outline: 3px solid #83B3D3;
}
.input-email:active{
  background: #FFFFFF;
/* basic/black */

outline: 2px solid #000000;
}
.input-email:invalid {
  box-shadow: none;
}

.input-email:focus:invalid {
  outline: 2px solid #FF5757;
}
.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 2px;
  
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.range-toggle:hover {
  background: #FFFFFF;
  
}

.range-toggle:active{
background: #FFFFFF;
/* special/cold/light */

border: 2px solid #83B3D3;
 

}

.range-toggle:focus {
 background: #FFFFFF;
/* special/cold/light */

border: 3px solid #83B3D3;
 
} 
.toggle-min {
  top: -8px;
  
}

.toggle-max {
  top: -8px;
  right: -10px;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  border: 2px solid #FFFFFF;
  margin-bottom: 32px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  padding-left: 19px;
  padding-bottom: 11px;
  padding-top:14px;
  padding-right: 14px;
}
.catalog-filter-input{
  background-color: transparent;
  border: none;
  appearance: textfield;
  width: 100px;
  text-align: left;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.input-filter-one{
  border-right:2px solid #FFFFFF; 
}
.catalog-filter-span{
  color: #FFFFFF;

opacity: 0.3;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;
}
.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}
/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 3px solid transparent;
transition: 0.3s;
}
.control-input[type="checkbox"]:focus + .control-mark{
  border: 3px solid #83B3D3;
  transition: 0.3s;
}
.control-input[type="checkbox"]:active + .control-mark{
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:focus + .control-mark{
  border: 3px solid #83B3D3;
  
}
.control-input[type="radio"] + .control-mark{
  border-radius: 50%;
}
.control-radiobutton:focus{
  outline: 3px solid #83B3D3;
}

.control-mark:focus{
  background: rgba(255, 255, 255, 0.6);
/* special/cold/light */

outline: 3px solid #83B3D3;
}
.control-mark:active{
  background: rgba(255, 255, 255, 0.3);
  outline:none;
}
.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 7px;
  left: 2px;
  width: 6px;
  height: 2px;
  background-color: #242424;
  content: "";
}


.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: #242424;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}
.select-control {
  
  padding-top: 12px;
  padding-bottom:13px;
  padding-left:19px;
  padding-right:92px;
  border-radius: 4px;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border: 2px solid #E6E6E6;
  margin-right: 19px;
}
.visual-hotels .hotels-on-site{
  padding-right: 37px;
  width:160px;
}
.popover {
  display: none;
  position: absolute;
  top: 71;
  right: -183px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 20px;
 
}
.navigation-item {
  position: relative;
}
.popover-hotel-card{
  display:flex;
  align-items: center;
}

.popover-hotel-card-image{
  border-radius: 50%;
}
.popover-hotel-img-link{
  width: 48px;
  margin-right: 17px;
}
.popover-hotel-card + .popover-hotel-card{
  margin-top: 25px;
}
.popover-hotel-card-title{
  font-family:  "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
text-decoration:none;
color: #000000;
display: flex;
flex-direction: column;
margin:0;

}
.popover-Type-hotel{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;

/* or 250% */



/* basic/dark */

color: #333333;

}
.popover-delete{
  margin-left:auto;
  background: none;
}
.button-popover{
  width: 100%;
  display:inline-block;
  padding: 0;
  border-radius: 0px 0px 20px 20px;
  background: #756257;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: block;
align-items: center;
text-align: center;
text-transform: uppercase;
padding:20px;
border: 0;
cursor: pointer;
/* basic/white */

color: #FFFFFF;
}
.popover-hotel-lists{
  padding: 25px;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
  
}


.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
  
  border-radius: 30px;
  
}
.modal-close-button{
  background: none;
    cursor: pointer;
    padding:20px;
    border-radius: 50px;
    background: #F2F2F2;
    border: 0;
  } 
.modal-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
/* or 133% */
margin:0;
text-transform: uppercase;

/* basic/black */

color: #000000;
}
.title-exit-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
.date-span-modal{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
/* or 222% */

/* basic/black */
margin-right: 56px;
color: #000000;

}
.race-date,
.exit-date{
  padding-left: 19px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-right:205px;
  background: #F2F2F2;
border-radius: 4px;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
border:0;
margin-bottom: 10px;

}
.calendar-button-race{
  position: absolute;
  padding:18px;
  background-image:url(../img/date.svg) ;
  background-position: center ;
  background-repeat: no-repeat;
  align-items: center;
  left:623px;
  background-color:transparent;
  top:186px;
  border:0;
  cursor: pointer;
}
.calendar-button-exit{
  position: absolute;
  padding:18px;
  background-image:url(../img/date.svg) ;
  background-position: center ;
  background-repeat: no-repeat;
  align-items: center;
  left:623px;
  top:287px;
  background-color:transparent;
  border:0;
  cursor: pointer;
  
}
.modal-flex{
  display:flex;
  justify-content:space-between ;
  margin-top:11px;
  align-items: center;
}
.adult,
.children{
  display:flex;
  
}

.plus-btn{
  padding-top: 29px;
  padding-bottom: 29px;
  padding:12px;
  background: #F2F2F2;
  display: block;
  border:0;
  cursor: pointer;
  
}
.adult-input{
  width: 34px;
  background: #F2F2F2;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
/* or 222% */

display: flex;
align-items: center;
text-align: center;

/* basic/black */

color: #000000;
border:none;
padding-top: 5px;
padding-bottom: 5px;
}
.span-exit{
  margin-right: 48px;
}
.adults{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
/* or 222% */



/* basic/black */

color: #000000;
}
.search-btn{
  background: #83B3D3;
border-radius: 10px;
width: 575px;
display: block;
margin:0 auto;
text-align: center;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
/* or 200% */


align-items: center;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
margin-top: 40px;
margin-bottom: 5px;
padding-top: 20px;
padding-bottom: 20px;
}
.minus{
 
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
}
.plus{
  
  border-radius:0 4px 4px 0;
}
.race-span{
  width:420px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;

/* or 250% */

display: flex;
align-items: center;
margin-left: 173px;
/* status/error */

color: #FF5757;
margin-bottom: 11px;
}
.exit-span{
  width:420px;
  font-family: "PT Sans", sans-serif;  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  
  /* or 250% */
  
  display: flex;
  align-items: center;
  
  /* basic/dark */
  margin-left: 173px;
  color: #333333;
  margin-bottom: 11px;
}
.adults-informaton{
  position: absolute;
  background: #83B3D3;
  padding: 12px;
  border-radius: 50%;
  background-image: url(../img/info.svg);
  background-repeat: no-repeat;
  background-position:center;
  right: 229px;
}

.information-popap{
  position: absolute;
  max-width: 227px;
  right: 119px;
    bottom: 85px;

/* basic/dark */

background: #333333;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
border-radius: 10px;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

display: flex;
align-items: center;

/* basic/white */

color: #FFFFFF;
padding-top: 15px;
padding-bottom:18px ;
padding-left: 22px;
padding-right: 18px;
}
.information-popap::before{
position: absolute;
width: 19px;
height: 19px;
background: #333333;
top:-100px;
content: "";
Transform:rotate(45deg);

top: -5px;
right: 114px;

}
.conditon-popover:hover{
opacity:0.6;
color: #000000;

}
.conditon-popover:focus{
  color: #000000;
  outline: 3px solid #83B3D3;
}

.popover-delete:hover svg{
  
  opacity: 1;
}
.popover-delete:focus svg{
  outline:3px solid #83B3D3;
  box-sizing: border-box;
border-radius: 2px;
}
.popover-delete:active svg{
  opacity: 0.1;
}
.button-popover:hover{
  background: #615048;
}
.button-popover:focus{
  background: #615048;
  /* special/cold/light */
  
  outline: 3px solid #83B3D3;
}
.button-popover:active{
  opacity: 0.3;
}

.button-popover:active span{
  color: #FFFFFF;

opacity: 0.3;
}
.modal-close-button:hover {
  background: #E6E6E6;
}
.modal-close-button:focus{
  background: #E6E6E6;
/* special/cold/light */

outline: 3px solid #83B3D3;

}
.modal-close-button:active svg{
  opacity: 0.3;
}
.race-date:hover,
.exit-date:hover
{
  background: #E6E6E6;
}
.race-date:focus,
.exit-date:focus
{
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.race-date:active,
.exit-date:active
{
  background: #FFFFFF;
/* basic/black */

outline: 2px solid #000000;
}
.plus-btn:hover svg{
  fill: #000000
}
.plus-btn:focus svg{
  outline:3px solid #83B3D3;
}
.plus-btn:active svg{
  opacity:0.2;
  outline:none;}
  .adults-informaton:hover{
    background-color: #68A2CA;
    
  }
  .search-btn:hover{
    background: #68A2CA;
  }
  .search-btn:focus{
    background: #68A2CA;
/* special/warm/light */

outline: 3px solid #756257;
  }
  .search-btn:active span{
    
    opacity: 0.3;
  }
  .conditon-popover__inner{
    cursor: pointer;
    display: flex;
  }
  .conditon-popover__inner:focus{
    background: #615048;
    /* special/cold/light */
    
    outline: 3px solid #83B3D3;
  }
  .conditon-popover__inner:active{
    opacity: 0.3;
  }
  .page-header-logo{
    position: absolute;
    left: 465px;
    margin-right: 10px;
    
  }
  .logo-divider{
    margin-top: 20px;
  }
  .adv-descr{
    padding-bottom: 110px;
  }
  
  .control:hover .control-checkbox{
    background: rgba(255, 255, 255, 0.6);
  }
  .control:focus .control-checkbox{
    background: rgba(255, 255, 255, 0.6);
    /* special/cold/light */
    
    outline: 3px solid #83B3D3;
  }
  .control-checkbox:active{
    background: rgba(255, 255, 255, 0.3);
    outline: none;
  }
  .control-radiobutton:focus{
    outline: 3px solid #83B3D3;
  }
  .control-radiobutton:hover{
    background: #FFFFFF;

  }
  .conditon-popover{
    display: flex;
  }
  .another{
    background-color: rgba(131, 179, 211, 0.2);
  } 
  .hotel-card-image{
    width:100%;
    display:block;
  }