@font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    
  src: url("fonts/ptsans-400.woff2") format("woff2");
  
  font-display: swap;
  
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html{
  height: 100%;
}

body {
  display: flex;
  flex-direction:column;
  margin:0; 
  
  font-family: "PT Sans" sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #333333;
   
  }

.page-header {
    color: #000000;;
    background: #FFFFFF;
    font-family: "PT Sans", sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 1056px;
  margin: 0 auto;
  
  font-family: "PT Sans", sans-serif;
    line-height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
  
  }
.navigation-cite{
  width:320px;
  margin-right: auto;
}
  .navigation-list {
    display:flex;
    width: 410px;
    list-style-type: none;
    flex-wrap: wrap;
    
    
  }
  .navigation-list .navigation-user {
    display: flex;
  flex-wrap: wrap;
    max-width: 250px;
    margin-left: auto;}


.navigation-main{
  text-decoration: none;
  color: #000000;
  padding: 24px 19px;
  display: block;
}
.navigation-about{
  text-decoration: none;
  color: #000000;
  padding: 24px 19px;
  display: block;
}
.navigation-hotels{
  text-decoration: none;
  color: #000000;
  padding: 24px 19px;
  display: block;
}
.navigation-search{
  text-decoration: none;
  color: #000000;
}
.navigation-love{
  text-decoration: none;
  color: #000000;
}
.header-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  padding-top: 63px;
  padding-bottom: 23px;
  
}
.paragraph-logo{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;

  text-align: center;
  color: #333333;
  padding-bottom: 79px;  
}

.advantages-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
padding-top: 23px;
padding-bottom: 20px;
}
.advantage-anoherdiv{
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin:0;

}
.advantage-road{
  background: rgba(131, 179, 211, 0.2);
}
.advantages-description{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333333;
padding-bottom: 79px;

}
.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-logo{
display:block;
margin:0 auto;
padding-top: 89px;
}

.advantage-div {
display:flex;
flex-direction: row;
margin:0;
padding:0;
text-align: center;

  background-color: #83B3D3;
color: #FFFFFF;  
}

.advantages-title-adv{
  width: 400px;
  margin-bottom:25px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* or 117% */

text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
}
.flextwo{
display:flex;
margin:0;
}
.adv{
 color: #FFFFFF; 
}
.interesting{
  width: 1200px;
  text-align: center;
  background: #FFFFFF;
}
.interesting-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin-top:91px;
margin-bottom: 15px;
}
.interesting-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin-top: 15px;
margin-bottom: 73px;


}
.search-hotel{
  
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom:17px ;
  width: 575px;

}
.div-subscribe{
  background-image: url("../img/background-subscribe.jpg" );
  width: 1200px;
  
  text-align: center;
}
.subscribe-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

margin-bottom: 15px;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;

}
.subscribe-help{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */
margin-bottom: 30px;
text-align: center;

/* basic/white */

color: #FFFFFF;
}
.button-subscribe{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* or 130% */

/* display: flex;
align-items: center;
text-align: center; */
text-transform: uppercase;
background: #83B3D3;
/* basic/white */
width: 200px;

color: #FFFFFF;
}
.subscribe-form{
  width: 600px;
  
margin:0px;

}
.input-button-subscribe{
display:flex;
width: 1200px;
margin-left:400px;
padding:0;
align-content: center;
padding-bottom: 97px;
}
.page-footer{
  background: #FFFFFF;
  color: #000000;
  margin:0 auto;
}
.contacts-phone{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
/* or 100% */

text-align: center;
text-transform: uppercase;

/* basic/black */
text-decoration: none ;
color: #000000;
}
.main-inner{
color:#FFFFFF;
}
.main-index{
  padding: 0;
  margin:0;
}
.div-search{
  background-image: url("../img/catalog-background.jpg" );
  background-repeat: no-repeat;
  
  
  object-fit:cover;
}
.inner-header-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 78px;

/* basic/white */

color: #FFFFFF;
}
.breadcrumbs{
display: flex;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */
text-decoration: none;
flex-wrap:wrap;
width: 1056px;
  margin-left: 73px ;
  padding: 0; 
  list-style-type: none;
color: #FFFFFF;
margin-bottom: 45px;;
}
.breadcrumbs-link{
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 26px;
}
.catalog-filter-title{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
/* identical to box height */
margin-bottom:30px;


/* basic/white */

color: #FFFFFF;
}
.catalog-filter-item{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/white */

color: #FFFFFF;

}
.toggle-min,
.toggle-max{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;


/* basic/white */

color: #FFFFFF;

}
.catalog-filter-input{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;

/* basic/white */

color: #FFFFFF;

}
.button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;

}
.button-ok{ 
  font-family: "PT Sans", sans-serif;
  
  
  text-align: center;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
background: #83B3D3;
margin-bottom:20px;
margin-top: 60px;
}
.button-reset{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

/* basic/white */

color: #FFFFFF;
}
.search-list {
font-family: "PT Sans", sans-serif;
font-style: normal;


line-height: 39px;
/* identical to box height */
width:1056px;

margin:0 auto;
/* basic/black */

color: #000000;
}
.popular,
.cheap,
.expensive{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;
}
.Type-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
margin-right: 216px;
/* basic/dark */
grid-column: 3 / 4;
grid-row: 2 / 3;
color: #333333;

}
.hotel-card-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
text-decoration: none ;
grid-column: 3 / 6;
grid-row: 1 / 2;

/* basic/black */

color: #000000;
}
.hotel-card-link{
  text-decoration: none ;
  grid-column: 3 / 6;
grid-row: 1 / 2;

}
.rating-hotel{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/dark */

color: #333333;

}
.Hotel-card-button{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/white */

color: #FFFFFF;
width: 151px;
height: 37px;

/* special/warm/light */

background: #756257;
border-radius: 4px;
}
.button-favorites{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

/* basic/white */
width: 160px;
height: 37px;

/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
color: #FFFFFF;

}
.pagination-show-more{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin:0 auto;
/* basic/white */

color: #FFFFFF;

padding-left: 240px;
padding-right: 240px;
padding-top: 22px;
padding-bottom: 22px;


/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
}
.pagination-item{
  
}
.pagination-link{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin-right: 8px;
padding:22px;
/* basic/white */

color: #FFFFFF;



/* special/cold/light */

background: #83B3D3;
border-radius: 4px;
  
}
.pagination-current{





color: #000000;
background: #F2F2F2

}
.visual-hotels-text{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
margin-top: 47px;

/* basic/dark */

color: #333333;

}
.select-control{
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

/* basic/dark */

color: #333333;

}
.div-subscribe-catalog{
  background: #FFFFFF;
}
.catalog-title{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* or 120% */

text-align: center;
text-transform: uppercase;

/* basic/black */

color: #000000;

}
.catalog-help{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 118% */

text-align: center;

/* basic/dark */

color: #333333;

}
.footer-social-item .visually-hidden{
  color:black;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;
}

.city{
margin:0;
}
.page-footer-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-social{
  width: 110px;
  margin-right: 260px;
}
.footer-logo-academy{
  width: 121px;
  margin-left: auto;
}
.navigation-tools{
  width: 280px;
  margin-left:auto;
}
.hotel-list{
display:flex;
width:1056px;
margin: 0 auto;

}
.infrastructure{
  width:150px;
  margin-right: 67px;
}
.type-hotel{
  width:400px;
  margin-right: 160px;
}
.cost{
  width:290px; 
  margin-right: 82px;
}
.button-view{
  color:#000000;
}
.sort-hotel{
  display:flex;
  width:1057px;
  margin:0 auto;
  margin-top: 44px;
  margin-bottom: 42px;
}
.found-hotels{
  width: 338px;
  margin-right: 192px;
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
/* identical to box height */

text-transform: uppercase;

/* basic/black */

color: #000000;
}
.div-button-view{
  display:flex;
  flex-wrap:wrap;
  width:180px;
  margin-left:auto;
}
.hotel-card{
  
  width:1056px;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
}
body {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  }
  
  main {
  margin: 0 auto;
  }
  
  h1 {
  margin: 0;
  }
  
  h2 {
  margin: 0;
  }
  
  h3 {
  margin: 0;
  }
  
  h4 {
  margin: 0;
  }
  
  img {
  width: 100%;
  display: block
  }
  
  a {
  margin: 0;
  text-decoration: none;
  }
  
  ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  }
  
  li {
  list-style-type: none;
  padding: 0;
  }
  
  p {
  margin: 0;
  }
  
  button {
  outline: none;
  border: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .navigation-want{
    padding: 10px 19px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    
   
    
  }
  .navigation-search,
  .navigation-love,
  .navigation-want
  

  
   {
    min-width: 31px;
    min-height: 27px;
    display: block;
  padding: 24px 19px;
  }
  .logo-image{
    
    background-image: url("../img/index-background.jpg" );  
  }
  .first-adv,
  .adv-two
  {
  margin-top: auto;
  margin-bottom: auto;  
  }
  .advantages-description-adv{
    margin-bottom: 26px;
    
    font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* or 117% */

text-align: center;


/* basic/white */

color: #FFFFFF;
  }
.advantages-description-number{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* or 117% */
margin-top:25px;
margin-bottom: 26px;
text-align: center;
text-transform: uppercase;

/* basic/dark */

color: #333333;

}
.advantages-title-number{
  font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* or 117% */
padding-top: 97px;
text-align: center;
text-transform: uppercase;

/* basic/black */

color: #000000;

}
.subscribe{
  margin-top:91px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  width: 20px;
  height: 16px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.inner-header-title{
  padding-top: 35px;
  margin-left:71px;
  margin-bottom:0;
}
.catalog-filter-list{
  margin-right: 67px;
}
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top:31px;
  margin-right: auto;
  
}
.pagination-section{
  display:flex;
  width:1057px;
  margin:0 auto;
}
.visual-hotels{
  margin-top: 47px;
}
.inner-header{
  width:1056px;
}
.advantages-item{
  display:flex;
  flex-grow: 1;

}

.hotel-card{
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px; 
  
  
}
.hotel-card-image{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  
}
.star{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  width:auto;
  margin:0 auto;
}
.rating-hotel{
  grid-column: 7 / 8;
  grid-row: 3 / 4;
  background: #F2F2F2;
border-radius: 4px;
}
.Hotel-card-button{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.button-favorites{
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}
.Type-hotel-price{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  padding-bottom:31px ;
  
  
  
  color: #333333;
} 
.button-in{
  background: #7DB54F;
border-radius: 4px;
}
.hotel-lists{
  display: flex;
  flex-direction: column;
  
}